@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}


.center{ max-width: 100%;
text-align: center;
margin-top: 50px;
}

.p{margin-top: 25px;}

.img-container {
    max-width: 100%;
    }

.center-form{
 margin-left: auto;
    margin-right: auto;
    width: 8em;

}

.bg-img {
  /* The image used */
  background-image: url("../images/fe.jpg");
  height: 200px;
  margin-top: 70px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}
/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #5dbcd2;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.content{
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;

}

.carousel{
    margin-top: 100px;
    margin-bottom: 150px;
    margin-left: 100px;
    height: 150px;
  width: 80%;
  text-align: center;
}

.map-container-google-8{
    width: 500px;
}


.col-lg-6{
    margin-top: auto;
    text-align: center;
    width: 80px;
}

footer{
    background-color: #5dbcd2;
    height: 100px;
}

button {
    background-color: #5dbcd2;
}

.btn btn-primary btn-lg{
    background-color: #5dbcd2;

}


* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}